.my-container {
  margin-top: 10%;
}

.my-col {
  text-align: center;
}

#foto {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  text-align: center;
}

.card-header {
  text-align: center;
  font-size: 40px;
}

.my-fieldset {
  padding: 15px;
}

label {
  text-align: left;
}

#messages {
  margin-top: 5px;
  text-align: left;
}

#buttons {
  margin-top: 63px;
}

body {
  background-image: url('../img/background.jpg');
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.refuse-match-btn, .contact-match-btn, .contact-btn {
  margin-left: 5px;
}
