{% extends "base.html" -%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock css %}

{% block buttons %}
<a href="/matches">
  <button class="btn btn-outline-dark text-center">See Matches</button>
</a>
<button class="btn btn-outline-dark text-center logout-btn">Logout</button>
{% endblock buttons %}

{% block content %}
<div class="card mb-3" style="max-width: 40rem;">
  <div class="card-header"> Chat</div>

  <div class="mesgs">
    <div class="msg_history mb-2">
    </div>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" name="message" placeholder="Type a message"/>
      <button class="msg_send_btn" type="button"><i class="fas fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    function getCookie(cname) {
      let name = cname + "=";
      let ca = document.cookie.split(';');
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function deleteCookie(name) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;';
    }

    function createOutgoingMessage(message) {
      return '' +
        '<div class="outgoing_msg">' +
        '<div class="sent_msg">' +
        '<p>' + message + '</p>' +
        '</div>' +
        '</div>';
    }

    function createIncomingMessage(username, message, user_type) {
      let incomingMessage = '';

      if (loggedUser.user_type === USER_TYPES.EMPLOYEE || user_type === USER_TYPES.RECRUITER) {
        incomingMessage +=
          '<div class="incoming_msg">' +
          '<div class="received_msg">' +
          '<div class="received_withd_msg">' +
          '<p class="username px-0 pb-0"><b>' + username + '</b></p>' +
          '<p>' + message + '</p>' +
          '</div>' +
          '</div>' +
          '</div>';
      } else if (loggedUser.user_type === USER_TYPES.RECRUITER) {
        incomingMessage +=
          '<div class="incoming_msg">' +
          '<div class="received_msg">' +
          '<div class="received_withd_msg">' +
          '<p class="px-0 pb-0">' +
          '<span class="font-weight-bold username">' + username + '</span>';

        if (matches.find(obj => obj.employee === username))
          incomingMessage += '<button type="button" class="btn btn-sm btn-outline-success text-center ml-3 offer-job-btn" disabled>Vaga Oferecida</button>';
        else if (user_type === USER_TYPES.EMPLOYEE)
          incomingMessage += '<button type="button" class="btn btn-sm btn-outline-dark text-center ml-3 offer-job-btn">Oferecer Vaga</button>';

        incomingMessage +=
          '</p>' +
          '<p>' + message + '</p>' +
          '</div>' +
          '</div>' +
          '</div>';
      }

      return incomingMessage;
    }

    function parseOldMessages(messages) {
      for (let message of messages) {
        if (message.user.username === loggedUser.username) {
          $('.msg_history').append(createOutgoingMessage(message.message));
        } else {
          $('.msg_history').append(createIncomingMessage(message.user.username, message.message, message.user.user_type));
        }
      }
    }

    let token = getCookie('token');
    let loggedUser = {{user|safe}};
    let matches = {{matches|safe}};
    let messages = {{old_messages|safe}};

    const USER_TYPES = {
      EMPLOYEE: 1,
      RECRUITER: 2
    };

    console.log(loggedUser);
    console.log(matches);
    console.log(messages);

    parseOldMessages(messages);

    $('.logout-btn').on('click', () => {
      deleteCookie('token');
      window.location.href = '/';
    });

    $('.msg_send_btn').on('click', () => {
      let message = $('input[name=message]').val();
      $('input[name=message]').val('');

      fetch('/send_message', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({token, 'user': loggedUser, message})
      }).then(res => {
        return res.json();
      }).then(res => {
        $('.msg_history').append(createOutgoingMessage(res.message));
      });
    });

    $('.msg_history').on('click', '.offer-job-btn', function () {
      let employeeUsername = $(this).prev().html();

      let msgs = $('.incoming_msg');
      for (let msg of msgs) {
        let username = $(msg).find('.username')[0];
        username = $(username).html();

        if (username === employeeUsername) {
          let btn = $(msg).find('.offer-job-btn')[0];
          $(btn).html('Vaga Oferecida');
          $(btn).removeClass('btn-outline-dark');
          $(btn).addClass('btn-outline-success');
          $(btn).attr('disabled', true);
        }
      }

      fetch('/offer_job', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({recruiter: loggedUser.username, employee: employeeUsername, token: token})
      });
    });
  </script>
{% endblock js %}
