{% extends "base.html" -%}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Let's go get in?</h1>
  <p class="lead">This is a simple real time chat for Enterprises and Programmers</p>
  <hr class="my-4">
  <p>If you wanna talk about jobs or nerd stuffs let's talk!
  </p>
  <p class="lead">
    <a class="btn btn-outline-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-outline-dark btn-lg" href="/login" role="button">Login</a>
  </p>
</div>
{% endblock content %}
